#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tile{
  min-width: 70px;
  min-height: 70px;
  border-radius: 60px;
  margin: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.inner{
  min-width: 50px;
  max-height: 50px;
  margin-top: 10px;
  border-radius: 30px;
}

.red{
  background-color: red;
}

.inner-red{
  background-color: rgb(189, 14, 14);
}

.yellow{
  background-color: yellow;
}

.inner-yellow{
  background-color: rgba(156, 156, 31, 0.384);
}

#gameboard{
  display: block;
  justify-content: center;
  background-color: rgb(50, 144, 221);
  width: 600px;
  height: 500px;
  padding: 20px;
  
}

.rows{
  display: flex;
  /* justify-content: space-between; */
}

.red-status{
  color: red;
}

.yellow-status{
  color: rgba(156, 156, 31, 0.384);
}