#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.tile{
  min-width: 70px;
  min-height: 70px;
  border-radius: 60px;
  margin: 5px;
  background-color: white;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

#gameboard{
  display: flex;
  justify-content: center;
  background-color: rgb(50, 144, 221);
  width: 700px;
  height: 600px;
  padding: 20px;
}

.rows{
  /* justify-content: space-between; */
}